######################
# Node
######################
/node/**
/node_tmp/**
/node_modules/**

######################
# Intellij
######################
.idea/**
*.iml
*.iws
*.ipr
*.ids
*.orig

######################
# Bower
######################
/dispatcher/static/bower_components/**

######################
# Bundle
######################
/dispatcher/static/bundle.js

######################
# PYC
######################
*.pyc